.glyphicon-menu-hamburger {
    font-size: 20px;
}

.menu-open {
    top:10px;
    left:10px;
    position: absolute;
    z-index: 1;
}
   
.menu-open:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
   
#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}