.circuitRenderCont {
    height: 40vh;
    border: 1px;
    border-color: black;
}

.learningObj {
    text-align: center;
    padding: none;
    height: inherit;
}

.objLeft {
    text-align: right;
}

.objRight {
    text-align: left;
}

.Board {
    height: 50%;
    text-align: center;
    top:20%;
    left:45%;
    position: absolute;
}

.BoardContainer {
    height: 100vh;
    position: relative;   
}

.ultra {
    position: absolute;
    top:20%;
    height:15%;
}

.temp {
    height:15%;
    position: absolute;
    top:20%;
    margin-right: 5%;
}

.left {
    left:10%;
}
.right {
    right:10%;
}